.cards{
    padding: auto;
}
.flex-container{
    list-style: none;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 10px auto;
    padding: 0px;
}
.flex-item{
   margin:15px 0px; 
}
.card{
    width: 320px;
    border-radius: 20px;
    border-color: #E6E6E6;
    box-shadow: 2px 3px 5px -2px rgba(0,0,0,0.75);
}
.angendar{
    float: right;
    background-color: #7F2013;
}
.cardHeader{
    background-color: #7F2013; 
    border-top-right-radius: 20px !important; 
    border-top-left-radius: 20px !important;
}
.Title{
    color:white
}
.modalText{
    text-align: justify;
}
.primayColor{
    background-color: #7F2013; 
}