<section class="bienvenidos">
  <div class="texto-encabezado text-xs-center">
      <div class="container">
          <h1 class="display-3">Encuentra la mejor Vivienda para ti! </h1>
          <p>La comodidad es algo que no te puedes dar el lujo de negar</p>
          <a href="login.html " class="btn-primary btn-lg">Registrate</a>
      </div>
  </div>
  <div class="div-flecha_bajar" >
      <a href="presentacion">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
          
      </a>
  </div>
</section>
<section class="presentacion " id="presentacion">
  <div class="container">
     <a ><h2 class="display-3 text-md-left">¿Quienes somos? </h2></a> 
       <div class="row">
           <div class="col-xs-12 col-md-8">
              <p>
                  Yaf es una empresa que se encarga de buscar por ti, ayudandote con varios de nuestros 
                  servicios como el amplio catalogo de inmubles que tenemos donde podras encontrar desde 
                  casas para familias completas o apartamentos para solteros 
              </p>
              <p>
                  Unete a esta gran familia que busca tu comidad con obciones de agendar la citas con solo un click 
                  queremos lo mejor para, ya que tu eres especial para nuestra compañia no esperes mas registrate y encuentra 
                  la mejor opcion 
              </p> 
          </div>       
          <div class="col-xs-12 col-md-4"> 
                  <img src="../../assets/image/familia.svg" alt="yaf">                       
          </div>   
      </div>
  </div>
</section>
<!-- quienes somos-->
<section>
      
<div class="container">
<h1 id="who">Conoce un poco mas de nosotros</h1>
<hr class="my-4">
<h4 class="center-text">Fundadores</h4>
<div class="row">
<div class="col-md-4 ">
<div class="center">
  <img class="img-fun " src="../../assets/image/Fonseca.jpg">
  <div class="text-img">
    <p class="center-text">Sebastian Fonseca<br>(Diseñador)</p>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="center">
  <img class="img-fun " src="../../assets/image/Alejandro.jpg">
  <div class="text-img">
    <p class="center-text">Camilo Buitrago<br>(Programador)</p>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="center">
  <img class="img-fun " src="../../assets/image/yo.jpg">
  <div class="text-img">
    <p class="center-text">Yeisson Jimenez<br>(Desarrollador)</p>
  </div>
</div>
</div>
</div>
<p class="center-text">Somos un grupo de estudiantes de ingeniería de sistemas de Colombia que se reunió para formar un eficiente equipo de trabajo con el objetivo de ser el grupo mas sobresaliente, después de el éxito que se tuvo se decidió fundar YAF como un desafío de aprendizaje y de exponer nuestros trabajos al mundo y hacer crecer mas este proyecto. </p>
</div>
</section>

<!--Archivos js-->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>